<%- include ("partials/header") %>

<h1> <%= theName.toUpperCase() %> di gaddi </h1>
<% if(theName.toLowerCase() === "rishu"){ %>
	<p> yeahh it belongs to me</p>
<% } else { %>
	<p>
	no it doesn't belong to you	</p>
 <% } %>
<img src = "https://cms.qz.com/wp-content/uploads/2018/01/lamborghini-aventador-s-e1516038183201.jpg?quality=75&strip=all&w=1600&h=900&crop=1">

<%- include ("partials/footer") %>